@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500;700&display=swap');

@font-face {
  font-family: 'CurseCasual';
  src: '../fonts/CurseCasual.ttf';
}

:root {
  --index: calc(1vw + 1vh);
  --blue: #3c485f;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Caveat', cursive;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

canvas {
  width: 100%;
  max-height: 100vh;
}