/* --- Modal --- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--blue);
  color: #fff;
  overflow-y: auto;
  transform: translateX(100%);
  visibility: hidden;
  transition: .5s;
}
.modal__show {
  visibility: visible;
  transform: translateX(0);
}
.modal__center {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.modal__header {
  position: fixed;
  top: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  padding: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.modal__close {
  position: absolute;
  top: 20px;
  left: 20px;
  padding-bottom: 5px;
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
  font-size: 1rem;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: .3s;
}
.modal__close:hover {
  border-bottom: 1px solid rgba(255, 255, 255, .3);
  opacity: .8;
}

.modal__title {
  text-align: center;
  font-size: 2rem;
  letter-spacing: .3rem;
}

.modal__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 80px;
  padding: 20px;
  overflow-y: auto;
}

.modal__block {
  width: 100%;
  margin-bottom: 50px;
}
.modal__block-title {
  padding: 10px;
  font-size: 1.5rem;
  text-align: center;
  letter-spacing: .2rem;
  color: var(--orange);
}

.modal__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 300px;
  width: 100%;
  padding: 10px 10px 5px;
  font-size: 1.5rem;
}
.modal__item-description {
  margin-left: var(--unit-size);
  font-size: 0.8rem;
}
.hr {
  min-width: 300px;
}

.modal__icon {
  flex-shrink: 0;
  min-width: var(--unit-size);
  height: var(--unit-size);
  font-size: 0.7rem;
}

.modal__footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  padding: 20px;
  color: #999;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, .3);
}

/*Arrows*/
.key {
  display: inline-block;
  min-width: 25px;
  height: 25px;
  margin-right: 5px;
  padding: 3px;
  border: 1px solid #999;
  border-radius: 3px;
  line-height: 15px;
  text-align: center;
  font-weight: bold;
  color: #999;
}

/*Tile sprites*/
.brick {
  background-image: url('../img/sprite.png');
  background-position: left calc(-8 * var(--unit-size)) top calc(-5.5 * var(--unit-size));
}
.beton {
  background-image: url('../img/sprite.png');
  background-position: left calc(-8 * var(--unit-size)) top calc(-6.5 * var(--unit-size));
}
.water {
  background-image: url('../img/sprite.png');
  background-position: left calc(-8 * var(--unit-size)) top calc(-7.5 * var(--unit-size));
}
.plant {
  background-image: url('../img/sprite.png');
  background-position: left calc(-9 * var(--unit-size)) top calc(-7.5 * var(--unit-size));
}

/*Tank sprites*/
.tank-1 {
  background-image: url('../img/sprite.png');
  background-position: left 0px top calc(-4 * var(--unit-size));
}
.tank-rose {
  background-image: url('../img/sprite.png');
  background-position: left 0px top calc(-5 * var(--unit-size));
}
.tank-2 {
  background-image: url('../img/sprite.png');
  background-position: left 0px top calc(-6 * var(--unit-size));
}
.tank-3 {
  background-image: url('../img/sprite.png');
  background-position: left 0px top calc(-8 * var(--unit-size));
}
.tank-4 {
  background-image: url('../img/sprite.png');
  background-position: left 0px top calc(-10 * var(--unit-size));
}

/*Bonus sprites*/
.helmet {
  background-image: url('../img/sprite.png');
  background-position: left calc(-16 * var(--unit-size)) top calc(-1 * var(--unit-size));
}
.timer {
  background-image: url('../img/sprite.png');
  background-position: left calc(-17 * var(--unit-size)) top calc(-1 * var(--unit-size));
}
.shovel {
  background-image: url('../img/sprite.png');
  background-position: left calc(-18 * var(--unit-size)) top calc(-1 * var(--unit-size));
}
.star {
  background-image: url('../img/sprite.png');
  background-position: left calc(-19 * var(--unit-size)) top calc(-1 * var(--unit-size));
}
.grenade {
  background-image: url('../img/sprite.png');
  background-position: left calc(-20 * var(--unit-size)) top calc(-1 * var(--unit-size));
}
.tank {
  background-image: url('../img/sprite.png');
  background-position: left calc(-21 * var(--unit-size)) top calc(-1 * var(--unit-size));
}