@font-face {
  font-family: 'Molot';
  src: url('../fonts/Molot.otf');
}

:root {
  --index: calc(1vw + 1vh);
  --unit-size: calc(80vh / 13);
  --blue: #3c485f;
  --orange: #e56d2f;
  --gray: #878787;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Molot', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--blue);
  letter-spacing: .1rem;
}

button {
  font-family: 'Molot', sans-serif;
  letter-spacing: .1rem;
}

.btn {
  padding: 5px 10px;
  background-color: var(--gray);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  letter-spacing: 3px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}
.btn:hover {
  opacity: .8;
}

.header {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding: 10px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
}

.header__back {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
}
.header__back:hover {
  color: rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.board {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  width: 80vh;
  height: 80vh;
  border: 5px solid var(--gray);
}

.board__item {
  width: calc(100% / 13);
  height: calc(100% / 13);
  border: 1px dotted var(--gray);
}

.aside {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  min-width: 15%;
  max-width: 255px;
  height: 80vh;
  padding: 10px;
  border: 1px solid var(--gray);
  color: #fff;
  letter-spacing: .3rem;
  background-color: rgba(255, 255, 255, .2);
}

.tiles {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 5px;
}

.aside__item {
  width: 42px;
  height: 42px;
  border: 1px solid var(--gray);
}

.aside__spoiler {
  position: absolute;
  left: 50%;
  bottom: 50px;
  width: 80%;
  padding: 10px;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  color: var(--blue);
  background-color: rgba(255, 255, 255, .7);
  border-radius: 5px;
  opacity: 0;
  visibility: hidden;
}
.aside__spoiler--show {
  animation: spoiler 2s ease-in-out;
}

@keyframes spoiler {
  from {
    visibility: visible;
  }
  25% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}


.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: var(--blue);
  color: var(--gray);
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: white;
}
.footer__link:hover {
  opacity: .8;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

/* --------- Tiles ---------- */
.tile {
  background-color: var(--blue);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
.tile--selected {
  border: 3px solid var(--orange);
}
/*Empty*/
.tile-a {}
/*Bricks*/
.tile-b {
  background-image: url('../img/tile-b.png');
}
.tile-c {
  background-image: url('../img/tile-e.png');
  background-position: right;
}
.tile-d {
  background-image: url('../img/tile-d.png');
  background-position: bottom;
}
.tile-e {
  background-image: url('../img/tile-e.png');
}
.tile-f {
  background-image: url('../img/tile-f.png');
}
/*Beton*/
.tile-g {
  background-image: url('../img/tile-g.png');
}
.tile-h {
  background-image: url('../img/tile-h.png');
  background-position: right;
}
.tile-i {
  background-image: url('../img/tile-i.png');
  background-position: bottom;
}
.tile-j {
  background-image: url('../img/tile-j.png');
}
.tile-k {
  background-image: url('../img/tile-k.png');
}
/*Water*/
.tile-l {
  background-image: url('../img/tile-l.png');
}
/*Plant*/
.tile-m {
  background-image: url('../img/tile-m.png');
}
/*Player tank*/
.tile-player {
  background-image: url('../img/tile-player.png');
}
/*Base*/
.tile-base {
  background-image: url('../img/tile-base.png');
}
/*Enemy*/
.tile-enemy {
  background-image: url('../img/tile-enemy.png');
}
/*Дежурные блоки кирпичей - уголки*/
.tile-n {
  background-image: url('../img/tile-d.png');
  background-position: 20px 100%;
}
.tile-o {
  background-image: url('../img/tile-d.png');
  background-position: -20px 100%;
}