@font-face {
  font-family: 'Molot';
  src: url('../fonts/Molot.otf');
}

:root {
  --index: calc(1vw + 1vh);
  --unit-size: 32px;
  --blue: #3c485f;
  --orange: #e56d2f;
  --gray: #878787;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Molot', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--blue);
  letter-spacing: .1rem;
}

button {
  font-family: 'Molot', sans-serif;
  letter-spacing: .1rem;
}

.btn {
  padding: 5px 10px;
  background-color: var(--gray);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: none;
  letter-spacing: 3px;
  cursor: pointer;
  user-select: none;
  transition: .3s;
}
.btn:hover {
  opacity: .8;
}

.header {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding: 20px;
  background-color: var(--blue);
  color: #fff;
  text-align: center;
}

.header__back {
  position: absolute;
  top: 20px;
  left: 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, .7);
}
.header__back:hover {
  color: rgba(255, 255, 255, .3);
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 20px;
}

.board {
  width: 80vh;
  height: 80vh;
  border: 5px solid var(--gray);
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 15%;
  height: 80vh;
  padding: 10px;
  border: 1px solid var(--gray);
  color: var(--gray);
}


.footer {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5vh;
  background: var(--blue);
  color: var(--gray);
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: white;
}
.footer__link:hover {
  opacity: .8;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}
